In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('food-price-index-september-2023-index-numbers.csv')

In [3]:
df

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
0,CPIM.SE901,1960.01,45.923461,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
1,CPIM.SE901,1960.02,45.498637,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
2,CPIM.SE901,1960.03,45.116296,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
3,CPIM.SE901,1960.04,45.158779,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
4,CPIM.SE901,1960.05,45.286226,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
...,...,...,...,...,...,...,...,...
12863,CPIM.SE901502,2023.05,1347.000000,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12864,CPIM.SE901502,2023.06,1361.000000,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12865,CPIM.SE901502,2023.07,1366.000000,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12866,CPIM.SE901502,2023.08,1367.000000,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12867,CPIM.SE901502,2023.09,1370.000000,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food

In [4]:
# to show how many rows and column 
df.shape

(12868, 8)

In [6]:
df.dtypes
# we will get column type

Series_reference     object
Period              float64
Data_value          float64
STATUS               object
UNITS                object
Subject              object
Group                object
Series_title_1       object
dtype: object

In [8]:
df['Period']  # to fetch perticular column

0        1960.01
1        1960.02
2        1960.03
3        1960.04
4        1960.05
          ...
12863    2023.05
12864    2023.06
12865    2023.07
12866    2023.08
12867    2023.09
Name: Period, Length: 12868, dtype: float64

In [10]:
df.head()   # by default show first 5 no. of data

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
0,CPIM.SE901,1960.01,45.923461,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
1,CPIM.SE901,1960.02,45.498637,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
2,CPIM.SE901,1960.03,45.116296,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
3,CPIM.SE901,1960.04,45.158779,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
4,CPIM.SE901,1960.05,45.286226,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food

In [12]:
df.tail()   # by default show lat 5 no. of data

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
12863,CPIM.SE901502,2023.05,1347.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12864,CPIM.SE901502,2023.06,1361.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12865,CPIM.SE901502,2023.07,1366.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12866,CPIM.SE901502,2023.08,1367.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food
12867,CPIM.SE901502,2023.09,1370.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 3 Classes for New Zealand,Ready-to-eat food

In [47]:
df.head()

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
0,CPIM.SE901,1960.01,45.923461,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
1,CPIM.SE901,1960.02,45.498637,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
2,CPIM.SE901,1960.03,45.116296,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
3,CPIM.SE901,1960.04,45.158779,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
4,CPIM.SE901,1960.05,45.286226,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food

In [14]:
df.head(10)   # first 10 no. data

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
0,CPIM.SE901,1960.01,45.923461,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
1,CPIM.SE901,1960.02,45.498637,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
2,CPIM.SE901,1960.03,45.116296,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
3,CPIM.SE901,1960.04,45.158779,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
4,CPIM.SE901,1960.05,45.286226,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
5,CPIM.SE901,1960.06,45.668567,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
6,CPIM.SE901,1960.07,46.390767,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
7,CPIM.SE901,1960.08,47.112968,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
8,CPIM.SE901,1960.09,46.943039,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food
9,CPIM.SE901,1960.10,47.495310,FINAL,Index,Consumers Price Index - CPI,Food Price Index for New Zealand,Food

In [15]:
df.head(10)['Series_reference']

0    CPIM.SE901
1    CPIM.SE901
2    CPIM.SE901
3    CPIM.SE901
4    CPIM.SE901
5    CPIM.SE901
6    CPIM.SE901
7    CPIM.SE901
8    CPIM.SE901
9    CPIM.SE901
Name: Series_reference, dtype: object

In [18]:
df.columns   # to fetch no. column with name

Index(['Series_reference', 'Period', 'Data_value', 'STATUS', 'UNITS',
       'Subject', 'Group', 'Series_title_1'],
      dtype='object')

In [29]:
df['Data_value'].max()  # maximum data value show

2233.0

In [26]:
df['Data_value'].min() # minimum value show

45.11629607

In [27]:
df['Data_value'].mean()   #averange value show

834.4736561868457

In [30]:
df['Data_value'].std()  # standard devision

250.23790832020785

In [36]:
df[df['Data_value'] == df['Data_value'].max()]  # here we want show which one has max value so here all parameter show by this query

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
9700,CPIM.SE9013026,2023.07,2233.0,FINAL,Index,Consumers Price Index - CPI,Food Price Index Level 4 Sections for New Zealand,Eggs

In [38]:
df['Data_value']>df['Data_value'].mean()  # here  shown in True or false which is grether than mean value

0        False
1        False
2        False
3        False
4        False
         ...
12863     True
12864     True
12865     True
12866     True
12867     True
Name: Data_value, Length: 12868, dtype: bool

In [39]:
temp = df['Data_value']>df['Data_value'].mean()

In [40]:
temp

0        False
1        False
2        False
3        False
4        False
         ...
12863     True
12864     True
12865     True
12866     True
12867     True
Name: Data_value, Length: 12868, dtype: bool

In [45]:
temp.unique() # here show unique value

array([False,  True])

In [48]:
df['Series_reference'].unique() # here show unique value

array(['CPIM.SE901', 'CPIM.SE9011', 'CPIM.SE901101', 'CPIM.SE901102',
       'CPIM.SE9012', 'CPIM.SE901201', 'CPIM.SE9012011', 'CPIM.SE9012012',
       'CPIM.SE9012013', 'CPIM.SE9012014', 'CPIM.SE9012016',
       'CPIM.SE901202', 'CPIM.SE9013', 'CPIM.SE901301', 'CPIM.SE9013011',
       'CPIM.SE9013012', 'CPIM.SE9013013', 'CPIM.SE9013014',
       'CPIM.SE9013015', 'CPIM.SE9013016', 'CPIM.SE901302',
       'CPIM.SE9013021', 'CPIM.SE9013022', 'CPIM.SE9013023',
       'CPIM.SE9013024', 'CPIM.SE9013025', 'CPIM.SE9013026',
       'CPIM.SE901303', 'CPIM.SE901304', 'CPIM.SE901305', 'CPIM.SE901306',
       'CPIM.SE9014', 'CPIM.SE901401', 'CPIM.SE901402', 'CPIM.SE9015',
       'CPIM.SE901501', 'CPIM.SE901502'], dtype=object)

In [49]:
df['Series_reference'].value_counts() # here show indidual each count

Series_reference
CPIM.SE901        765
CPIM.SE9012       693
CPIM.SE9012014    537
CPIM.SE901202     537
CPIM.SE901501     537
CPIM.SE9012011    417
CPIM.SE9012012    417
CPIM.SE9012013    417
CPIM.SE9012016    417
CPIM.SE9013026    417
CPIM.SE9013011    417
CPIM.SE9013013    417
CPIM.SE9015       292
CPIM.SE901305     292
CPIM.SE9013025    292
CPIM.SE901303     292
CPIM.SE901304     292
CPIM.SE9014       292
CPIM.SE901306     292
CPIM.SE901402     292
CPIM.SE901401     292
CPIM.SE9013023    292
CPIM.SE9013024    292
CPIM.SE901502     292
CPIM.SE9013021    292
CPIM.SE901302     292
CPIM.SE9011       292
CPIM.SE901301     292
CPIM.SE9013       292
CPIM.SE901201     292
CPIM.SE901102     292
CPIM.SE901101     292
CPIM.SE9013022    208
CPIM.SE9013016    208
CPIM.SE9013014    208
CPIM.SE9013012    208
CPIM.SE9013015    208
Name: count, dtype: int64

In [50]:
df.columns

Index(['Series_reference', 'Period', 'Data_value', 'STATUS', 'UNITS',
       'Subject', 'Group', 'Series_title_1'],
      dtype='object')

In [55]:
[col for col in df.columns if col not in ['STATUS','Subject']] # here we apply list comprehension

['Series_reference',
 'Period',
 'Data_value',
 'UNITS',
 'Group',
 'Series_title_1']