In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weight-height.csv')

In [4]:
df.Height = df['Height'].apply(lambda x:(x-df['Height'].min()) / (df['Height'].max()-df['Height'].min()))

In [5]:
df

      Gender    Height      Weight
0       Male  0.791728  241.893563
1       Male  0.586958  162.310473
2       Male  0.802364  212.740856
3       Male  0.706182  220.042470
4       Male  0.631424  206.349801
...      ...       ...         ...
9995  Female  0.481473  136.777454
9996  Female  0.517635  170.867906
9997  Female  0.388301  128.475319
9998  Female  0.597160  163.852461
9999  Female  0.310529  113.649103

[10000 rows x 3 columns]

### Here above we apply feature scalling to Height but if we have no. of feature and want to apply scalling then we have sklearn

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
obj = MinMaxScaler()

In [10]:
df['Gender'] = df['Gender'].map({'Male':1,'Female':0})

In [11]:
df

      Gender    Height      Weight
0          1  0.791728  241.893563
1          1  0.586958  162.310473
2          1  0.802364  212.740856
3          1  0.706182  220.042470
4          1  0.631424  206.349801
...      ...       ...         ...
9995       0  0.481473  136.777454
9996       0  0.517635  170.867906
9997       0  0.388301  128.475319
9998       0  0.597160  163.852461
9999       0  0.310529  113.649103

[10000 rows x 3 columns]

In [13]:
obj.fit_transform(df)

array([[1.        , 0.79172838, 0.863139  ],
       [1.        , 0.58695829, 0.4754764 ],
       [1.        , 0.8023644 , 0.72113127],
       ...,
       [0.        , 0.38830089, 0.31065968],
       [0.        , 0.59715974, 0.48298768],
       [0.        , 0.31052854, 0.23843869]])

In [14]:
x_scale = obj.fit_transform(df)

In [15]:
x_scale

array([[1.        , 0.79172838, 0.863139  ],
       [1.        , 0.58695829, 0.4754764 ],
       [1.        , 0.8023644 , 0.72113127],
       ...,
       [0.        , 0.38830089, 0.31065968],
       [0.        , 0.59715974, 0.48298768],
       [0.        , 0.31052854, 0.23843869]])

#### we can also give this type array ,but not mandotary some we can give in algorithm